@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  color: #3a4443;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
  line-height: 1;
  margin: 15px 0;
}
h2,
h3 {
  font-size: 30px;
  line-height: 1;
  margin: 15px 0;
}
h5 {
  font-size: 20px;
  line-height: 1;
  margin: 15px 0;
}
pre {
  background-color: none;
  border-radius: 5px;
  padding: 8px;
  color: aliceblue;
  margin: 15px 0;
  overflow-x: auto;
}
/* code {
  width: 600px;
} */
blockquote {
  background-color: #3a4443;
  padding: 15px;
  border-radius: 5px;
  color: aliceblue;
}
@media screen and (min-width: 480px) {
  .blog-container {
    width: 800px !important;
  }
}
.blog-container {
  margin: 0 auto !important;
  padding: 50px 1.5rem !important;
}
