.container {
  padding: 0;
  background-color: #f5f5f7;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.info {
  text-align: center;
}
.shake {
  font-weight: 500;
  color: #ffb400;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.5rem;
}
.contact a:hover {
  transition: all ease-in 0.2s;
  color: #ffb400;
}
.scrolldown {
  opacity: 1;
  filter: blur(0px);
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.scrollanchor {
  display: flex;
  overflow: hidden;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border: 2px solid #3a4443;
  border-radius: 100%;
  margin-bottom: 20px;
}

.scrolldownimage {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.scrolldownimage {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.offeringsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.myoffers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.offering {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.offering h3 {
  font-weight: 500;
}
.counter {
  background-color: #3a4443;
  color: #bcc5bc;
}
.counterinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.counterlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counterlist h2 {
  color: #eef1ef;
  margin-bottom: 0;
}
.work {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.experience {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exploremore {
  border: 2px solid #3a4443;
  border-radius: 5px;
  padding: 1rem;
  transition: all ease-in 0.2s;
}
.exploremore:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  opacity: 0.9;
  transform: translate(0px, -2px);
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
